#hero {
  position: absolute;
  top: 12px;
  left: 12px;
  width: 194px;
  height: 200px;
  background-image: url("../assets/images/modals/character_tab.png");
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 1);
  cursor: pointer;

  .hero-top-bar {
    width: 100%;
    height: 29px;
    display: flex;
    justify-content: center;
    align-items: center;

    .hero-name {
      width: 100%;
      text-align: center;
      font-size: 14px;
    }
  }

  #hero-stats-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 8px 16px 8px 16px;
    color: black;

    .stat {
      margin: 0 0 2px 0;
    }

    .hero-health {
      font-size: 16px;
      margin: 0 0 12px 0;
    }
  }
}
