@use "./ui.scss";
@use "./hero.scss";

* {
  box-sizing: border-box;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

html,
body {
  margin: 0;
  font-family: "Metamorphous", serif;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
}
